/* .box{
    border: 2px solid red;
    margin: 30px auto;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    font-family: sans-serifs;
}

.box-img{
    width: 100%;
    border-radius: 10px;

} */

.login{
    font-family: sans-serif;
    width: 320px;

    margin: 130px auto;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

.input{
    width: 100%;
    margin: 5px auto;
    padding: 16px;
    font-size: 16px;
    border: 2px solid gray;
    box-sizing: border-box; /* Used to insure that the content does not go out of the box of parrent element */
}

.btn{
    width: 100%;
    background-color: black;
    color: white;
    padding: 6px;
}

img{
    width: 70%;
}