.box{
    background-color: rgb(29,229,146);
    width: 450px;
    height: 450px;
    margin: 30px auto;
    border-radius: 10px;
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inner-box{
    width: 90%;
    margin-top: 115px;
}

h1{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight:800;
    letter-spacing: 1px;
}

.dev{
    margin-top: 0px;
    margin-bottom: 30px;
}

p{
    font-size: 15px;
    margin-bottom: 35px;
}

.box button{
    padding: 15px 20px 15px 20px;
    background-color: white;
    color: black;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 19px;
}




.google-box{
    border: 2px solid rgb(94, 92, 92);
    width: 450px;
    height: 350px;
    border-radius: 20px;
    margin: 30px auto;
    font-family: "Roboto", sans-serif;

}

.inner-box1 h1{
    color: black;
}

.inner-box1{
    width: 100%;
    margin: 0px 0px 0px 15px;
    color: gray;
}

.inner-box1 img{
    height: 75px;
    margin: 10px 20px 10px 20px;
    border-radius: 50%;
    border:  1px solid rgb(145, 136, 136);
}

.inner-box2{
    border-top:  1px solid rgb(145, 136, 136);
    width: 100%;
}

.inner-box2 a{
    text-decoration: none;
    margin-top: 20px;
    margin-left: 15px;
    display: block;
    color: rgb(0, 80, 240);
    font-size: 20px;
}




.google-card{
    width: 400px;
    height: 530px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 30px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.google-card img{
    width: 100%;
    height: 200px;
    border-radius: 13px 13px 0px 0px;
    margin: 0;
}

.info p{
    display: inline;
    color: rgb(64, 63, 63);
    font-size: 18px;
}

.google-card .info{
    margin: 15px auto 15px 20px;
}

.google-card button{
    border: 1px solid black;
    color: blue;
    margin: 5px 0px 5px 15px;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
}