.box{
    background-color: rgb(29,229,146);
    width: 450px;
    height: 450px;
    margin: 30px auto;
    border-radius: 10px;
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inner-box{
    width: 90%;
    margin-top: 115px;
}

h1{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight:800;
    letter-spacing: 1px;
}

.dev{
    margin-top: 0px;
    margin-bottom: 30px;
}

p{
    font-size: 15px;
    margin-bottom: 35px;
}

button{
    padding: 15px 20px 15px 20px;
    background-color: white;
    color: black;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 19px;
}